SECRET_KEY=super_secreta_chave_aniversario_dev_2026
ADMIN_NAME=Administrador Principal
ADMIN_EMAIL=admin@dev.com
ADMIN_PASSWORD=AdminPass123!

# String de Conexão PostgreSQL (Opicional: Se definido, usará PostgreSQL. Se vazio, usará SQLite local)
DATABASE_URL=postgresql://usuario:senha@host:5432/nome_do_banco
STORAGE_PROVIDER=gcs
GCS_BUCKET_NAME=bucket-elos-example
